---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact Me";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        There will be a contact form at some point but in the meantime you can
        contact me via my facebook page, click the link below
    </p>
</BaseLayout>
