---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Charlotte Rich-Griffin's cool website";
---

<BaseLayout pageTitle={pageTitle}>
  <Greeting
    client:load
    messages={[
      "Hi",
      "Hello",
      "Greetings fellow human",
      "Hey there",
      "Smiley face emoji",
      "😄", // added emoji
    ]}
  />
  <p>find out about me in the about tag</p>
</BaseLayout>
