---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Charlotte Rich-Griffin";
const identity = {
  firstName: "Charlotte",
  country: "UK",
  occupation: "Bioinformatics Engineer",
  hobbies: ["dancing", "contra", "ceilidh"],
};

const skills = ["Ceilidh", "Contra", "Not so historical Playford"];
---

<BaseLayout pageTitle={pageTitle}>
  <Greeting
    client:load
    messages={[
      "Hi",
      "Hello",
      "Greetings fellow human",
      "Hey there",
      "Smiley face emoji",
      "😄", // added emoji
    ]}
  />
  <p>Here are a few facts about me:</p>
  Charlotte Rich-Griffin is a friendly folk dance caller and workshop leader based
  in Oxfordshire in the UK. She runs fun, inclusive barn dances and ceilidhs at weddings,
  parties and community events, as well running workshops and dances at festivals.
  She loves sharing the joy of dancing with dancers of all levels of experience.

  <p>She teaches a variety of different folk dances including:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  In addition to calling, Charlotte is also helps organise two festivals. She
  helps organise the social folk dance at <a
    href=`https://www.sidmouthfolkfestival.co.uk/`>Sidmouth Folk Festival</a
  > and leads the organisation of <a href=`https://www.stegastomp.co.uk/`
    >Stegastomp</a
  > a contra dance weekend with Contrasaurus.
</BaseLayout>
