---
import Social from "./Social.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>Enjoys my ones of Youtube videos</p>

    <Social platform="youtube" username="@charlotterich-griffin5305" />
    <Social platform="facebook" username="charlotteceilidhcaller" />
    <Social platform="github" username="crichgriffin" />
    <ThemeIcon />
</footer>
