---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import profileImage from "../assets/Shrewsbury2025zoom.jpeg";
---

<header>
    <div class="top-row">
        <Hamburger />
        <div class="content-dir-item">
            <h1>
                Charlotte Rich-Griffin
                <img
                    src={profileImage.src}
                    alt="photo of Charlotte Rich-Griffin"
                    style="width: 20%; height: auto;"
                />
            </h1>
        </div>
    </div>

    <Navigation />
</header>
